body { 
  background-image: url('/src/assets/images/background.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
}

  @font-face {
  font-family: 'Celebrate Retro';
  src: url('/src/assets/fonts/CELEBRATERETRO.woff2') format('woff2'),
  url('/src/assets/fonts/CELEBRATERETRO.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


